body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    margin-top: 10px;
    width: 100%;
    height: 210px;
    padding: 0px;
    border: 0px;
    background-color: rgb(21, 49, 94);
}

#images{
    width: 400px;
    height: 80px;
    margin: 10PX;
    margin-top: 0px;
    margin-left: 60px;
    padding: 1PX;
    display: flex;

}

#menu{
    width: 40px;
    height: 30px;
    margin-top: 40px;
    margin-left:-15px;
}

#logo{
    width: 210px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    margin-left: 35px;
    
}

#pesquisa{
    margin: 0px;
    padding: 0px;
    margin-top: -50px;
    width: 170px;
    margin-left: 80%;
}

#search{
    width: 170px;
    height: 30px;
    font-size: medium;
}

nav{
    width: 64%;
    height: 65px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 355px ;
    margin-top: 40px;
    padding: 10px;

}
a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: -5px;
    margin: 2px;
    

}

#banner{
    width: 100%;
    height: 335px;
    display: flex;
    
    /*border: solid black 1px;*/
}

.Banner{
    width: 435px;
    height: 335px;
    padding: 0px;
    margin: auto;
    margin: 0px;
    
}

#conta_nova{
    background-color: rgb(30,75,148);

}

#texto_conta , #texto_conta2{
    width: 220px;
    height: 130px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: auto;
    padding: 5px;
    
}

#texto_conta{
    font-size: 40px;
    margin-top: 30px;

}

#texto_conta2{
    font-size: 26px;
    margin-top: 10px;

}

#img_banner{
    width: 410px;
    height: 335px;
}

#logo_banner{
    width: 400px;
    height: 335px;
}

#agenciaVirtual{
    width: 100%;
    height: 530px;
    margin-top: 0px;
    /*margin: 10px;*/
    background-color: rgb(209, 215, 255);
    display: flex;
    flex-wrap: wrap;
    
}


#bloco{ /*Criação de uma div que vai conter os blocos*/
    display: flex; /*Abertura do flex*/
    flex-direction: row;/*Aqui definimos que não estamos usando coluna*/
    width: 99%;
    height: 380px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    margin-top: -50px;
    flex-wrap: wrap;/*Aqui define que não se pode passar das dimensões da div portanto o quadrado desce*/
    justify-content: center;/*Alinha os itens de acordo com o eixo principal do container */
    align-items: center;
    gap: 5px;/*Define um espaçamento entre os itens dentro do container*/
    
}
#titulo{
    width: 290px;
    height: 80px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    margin-left: 30px;
    margin-top: 0px;
    color: rgb(33, 37, 41);
}


#title{
    width: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    padding-top: 40px;
    margin: 7px;
    
}



.blocos{
    width: 175px;
    height: 160px;
    border-radius: 15px;
    background-color: rgb(83, 135, 236);
    margin: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.imagem{
    margin: 10px;
    margin-top: 20px;
}

#aguaEsgoto{
    margin: 15px;
}

#historico{
    margin-right: 9px;
    border-radius: 15px;
    margin: 18px;
}

#segundavia{
    margin-bottom: 10px;
    margin-right: 17px;
    
}

#maiservicos{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: left;
    margin-left: 980px;
    margin-top: 5px;
}

#ultimasnoticias{
    width: 100%;
    height: 780px;
    border: solid 1px black;
}

#news{
    font-size: 30px;
    margin-left: 40px;
    color: rgb(21, 49, 94);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#imgnoticia{
    width: 470px;
    height: 540px;
    margin-left: 75px;
    margin-top: 45px;
    background-image: url(images/copasainaugura.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#data{
    width: 120px;
    height: 30px;
    font-size: 1.3em;
    margin: 0px;
    margin-top: 415px;
    margin-left: 20px;
    color: white;
}

#copasaInaugura{
    width: 375px;
    height: 70px;
    color: white;
    font-size: 2em;
    margin-left: 20px;
    margin-top: -7px;
}

/*#data{
    width: 120px;
    height: 40px;
    font-size: 1.2em;
    margin-top: -130px;
    color: black;
    margin-left: 15px;
    position: fixed;
}

*/

